<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Document</title>
  <style>
    body {
      background-color: black;
      color: white;
    }

    .neon-effect {
      color: white; /* White text color */
      padding: 10px;
      font-size: 2.5rem;
      border: 3px solid #39ff14; /* Initial sharp neon green border */
      animation: neon-border-animation 2s infinite alternate;
    }

    @keyframes neon-border-animation {
      0% { border-color: #39ff14; }
      25% { border-color: #ff073a; }
      50% { border-color: #08f7fe; }
      75% { border-color: #fe53bb; }
      100% { border-color: #39ff14; }
    }

    th {
      text-shadow:
        0 0 5px #08f7fe,
        0 0 10px #08f7fe,
        0 0 20px #08f7fe;
      font-size: 1.2rem;
    }

    .clicks-count {
      color: red; /* Red color for clicks count */
    }

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      color: white;
      text-shadow:
        0 0 5px #ff073a,
        0 0 10px #ff073a,
        0 0 20px #ff073a,
        0 0 40px #ff073a,
        0 0 60px #ff073a,
        0 0 80px #ff073a,
        0 0 100px #ff073a;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="neon-effect">URL Shrinker</h1>
    <form action="/shortUrls" method="POST" class="my-4 form-inline">
      <label for="fullUrl" class="sr-only">Url</label>
      <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
      <button class="btn btn-success" type="submit">Shrink</button>
    </form>
    
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
            <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
            <td class="clicks-count"><%= shortUrl.clicks %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>
